* {
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

.navbar{
    text-align: center;
    align-items: center;
}

.card{
    padding: 5%;
    border: 1px solid rgb(218, 218, 218);
}

.card-wrap{
    display: flex;
    justify-content: center;
}

.field-buyer{
    width: 100%;
}

input{
    padding: 5px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

select{
    padding: 5px;
    width: 200px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

.select-option{
    float: left;
}

.input-quantity {
    float: left;
    padding-left: 20px;
}

.field-quantity {
    margin: 5px;
}

button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(218, 218, 218);
}